<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Next | Download</title>

      <!-- Favicon -->
      <link rel="shortcut icon" href="/static/assets/images/favicon.ico" />

      <script type="module" src="https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script type="module" src="https://www.gstatic.com/firebasejs/10.10.0/firebase-auth.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/10.10.0/firebase-firestore.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/10.10.0/firebase-analytics.js"></script>

      <link rel="stylesheet" href="/static/assets/css/backend-plugin.min.css">
      <link rel="stylesheet" href="/static/assets/css/backend.css?v=1.0.0">

      <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
      <link rel="stylesheet" href="/static/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
      <link rel="stylesheet" href="/static/assets/vendor/remixicon/fonts/remixicon.css">

      <!-- Viewer Plugin -->
        <!--PDF-->
        <link rel="stylesheet" href="/static/assets/vendor/doc-viewer/include/pdf/pdf.viewer.css">
        <!--Docs-->
        <!--PPTX-->
        <link rel="stylesheet" href="/static/assets/vendor/doc-viewer/include/PPTXjs/css/pptxjs.css">
        <link rel="stylesheet" href="/static/assets/vendor/doc-viewer/include/PPTXjs/css/nv.d3.min.css">
        <!--All Spreadsheet -->
        <link rel="stylesheet" href="/static/assets/vendor/doc-viewer/include/SheetJS/handsontable.full.min.css">
        <!--Image viewer-->
        <link rel="stylesheet" href="/static/assets/vendor/doc-viewer/include/verySimpleImageViewer/css/jquery.verySimpleImageViewer.css">
        <!--officeToHtml-->
        <link rel="stylesheet" href="/static/assets/vendor/doc-viewer/include/officeToHtml/officeToHtml.css">  </head>

      <script  src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
  background: whitesmoke;
  text-align: center;
  padding: 90px 0 0 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.card {
  background: #fff;
  border-radius: 10px;
  display: block;
  min-height: 150px;
  margin: 1rem auto;
  position: relative;
  width: 900px;
  box-sizing: border-box;
  padding: 30px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card h2, .card h1 {
  display: block;
  color: #6580B2;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 400;
  text-align: left;
}

.card span.filename {
  display: block;
  text-align: left;
  color: #A3A3A3;
  margin: 10px 0;
}

.card h2.changelog_title {
  margin: 50px 0 0 0;
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #555;
  border-bottom: 1px solid #CCC;
}

.card .changelog {
  width: 100%;
  height: auto;
  padding: 0;
  text-align: left;
  color: #555;
}

.card .changelog ul {
  padding: 10px 0 0 18px;
  margin: 0;
}

.card a.btn {
  height: 45px;
  padding: 0 25px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 10px;
  background-color: #2196f3;
  border: none;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  margin: 25px 0 15px 0;
  display: inline-block;
  line-height: 45px;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #34495E;
  box-sizing: border-box;
  padding: 0 25px;
  z-index: 99;
}

.header h1 {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  color: #FFF;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 20px;
  float: left;
}

.header a {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  text-decoration: none;
  color: #FAFAFA;
  font-size: 28px;
  float: right;
  padding: 0 30px;
  transition: all 0.22s ease;
}

.header a:hover {
  color: #CCC;
}

        #Progress_Status {
  width: 50%;
  background-color: #ddd;
}

#myprogressBar {
  width: 1%;
  height: 35px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 32px;
  color: black;
}

    </style>
</head>









<body class="  ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">

      <div class="iq-sidebar  sidebar-default ">
          <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
              <a href="/dashboard" class="header-logo">
                  <img src="/static/assets/images/codenest-logo2.png" class="img-fluid rounded-normal light-logo" alt="logo">
               </a>
              <div class="iq-menu-bt-sidebar">
                  <i class="las la-bars wrapper-menu"></i>
              </div>
          </div>
          <div class="data-scrollbar" data-scroll="1">
              <div class="new-create select-dropdown input-prepend input-append">
                  <div class="btn-group">
                      <div data-toggle="dropdown">
                      <div class="search-query selet-caption"><i class="las la-plus pr-2"></i>Create</div><span class="search-replace"></span>
                      <span class="caret"><!--icon--></span>
                      </div>
                      <input type="file" id="fileInput" directory="directory" multiple webkitdirectory="webkitdirectory" style="display: none;">
                      <ul class="dropdown-menu">
                          <li><div class="item"><i class="ri-folder-add-line pr-3"></i><a href="/create-project">New Repository</a></div></li>

                          <li><div class="item" ><i class="ri-file-upload-line pr-3"></i><a href="/upload-repository">Upload Repository</a></div></li>


                      </ul>
                  </div>
              </div>
              <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class="active">
                           <a href="/dashboard" class="">
                               <i class="las la-home iq-arrow-left"></i><span>Dashboard</span>
                           </a>
                       <ul id="dashboard" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       </ul>
                    </li>

                    <li class="">
                           <a href="/my-projects" class="">
                               <i class="lar la-file-alt iq-arrow-left"></i><span>My Projects</span>
                           </a>
                       <ul id="page-files" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       </ul>
                    </li>
                    <li class="">
                           <a href="/explore" class="">
                               <i class="las la-stopwatch iq-arrow-left"></i><span>Explore</span>
                           </a>
                       <ul id="page-folders" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       </ul>
                    </li>
                    <li class=" ">
                           <a href="/starred" class="">
                               <i class="lar la-star"></i><span>Starred Projects</span>
                           </a>
                       <ul id="page-fevourite" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       </ul>
                    </li>
                    <li class=" ">
                           <a href="/discussions" class="">
                             <i class="las la-envelope-square"></i><span>Discussions</span>
                           </a>
                       <ul id="page-delete" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       </ul>
                    </li>
                    <li class=" ">
                     <a href="/codenext-ai" class="">
                       <i class="las la-cubes"></i><span>CodeNext Ai</span>
                     </a>
                 <ul id="page-delete" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                    </ul>
                 </li>

                  </ul>
              </nav>

              <div class="p-3"></div>
          </div>
          </div>       <div class="iq-top-navbar">
          <div class="iq-navbar-custom">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
              <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                  <i class="ri-menu-line wrapper-menu"></i>
                  <a href="/dashboard" class="header-logo">
                      <img src="/static/assets/images/codenest-logo2.png" class="img-fluid rounded-normal light-logo" alt="logo">
                  </a>
              </div>
                  <div class="iq-search-bar device-search">

                      <form>
                          <div class="input-prepend input-append">
                              <div class="btn-group">
                                  <label class="dropdown-toggle searchbox" data-toggle="dropdown">
                                  <input class="dropdown-toggle search-query text search-input" type="text"  placeholder="Type here to search..."><span class="search-replace"></span>
                                  <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                                  <span class="caret"><!--icon--></span>
                                  </label>
                                  <ul class="dropdown-menu">
                                      <li><a href="#"><div class="item">My Repositories</div></a></li>
                                      <li><a href="#"><div class="item">Code Next Repositories</div></a></li>
                                  </ul>
                              </div>
                          </div>
                      </form>
                  </div>

                  <div class="d-flex align-items-center">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                      <i class="ri-menu-3-line"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto navbar-list align-items-center">
                          <li class="nav-item nav-icon search-content">
                              <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="ri-search-line"></i>
                              </a>
                              <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                                  <form action="#" class="searchbox p-2">
                                      <div class="form-group mb-0 position-relative">
                                      <input type="text" class="text search-input font-size-12" placeholder="type here to search...">
                                      <a href="#" class="search-link"><i class="las la-search"></i></a>
                                      </div>
                                  </form>
                              </div>
                          </li>

                          <li class="nav-item nav-icon dropdown">
                              <a href="/settings" class="search-toggle dropdown-toggle" id="dropdownMenuButton02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                              <i class="ri-settings-3-line"></i>
                              </a>


                          </li>
                          <li class="nav-item nav-icon dropdown caption-content">
                              <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                  <div class="caption bg-primary line-height">{{letter}}</div>
                              </a>
                              <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton03">
                                  <div class="card mb-0">
                                      <div class="card-header d-flex justify-content-between align-items-center mb-0">
                                      <div class="header-title">
                                          <h4 class="card-title mb-0">Profile</h4>
                                      </div>
                                      <div class="close-data text-right badge badge-primary cursor-pointer "><i class="ri-close-fill"></i></div>
                                      </div>
                                      <div class="card-body">
                                          <div class="profile-header">
                                              <div class="cover-container text-center">
                                                  <div class="rounded-circle profile-icon bg-primary mx-auto d-block">
                                                      {{letter}}
                                                      <a href="">

                                                      </a>
                                                  </div>
                                                  <div class="profile-detail mt-3">
                                                  <h5><a href="/my-profile">{{uname}}</a></h5>
                                                  <p>{{email}}</p>
                                                  </div>
                                                  <a href="/logout" class="btn btn-primary">Sign Out</a>
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </div>






      <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-transparent card-block card-stretch card-height mb-3">
                        <div class="d-flex justify-content-between">
                            <div class="select-dropdown input-prepend input-append">
                                <div class="btn-group">
                                    <div data-toggle="dropdown">
                                    <div class="dropdown-toggle search-query"></div><span class="search-replace"></span>
                                    <span class="caret"><!--icon--></span>
                                    </div>
                                    <ul class="dropdown-menu">
                                        <li><div class="item"><i class="ri-folder-add-line pr-3"></i>New Folder</div></li>
                                        <li><div class="item"><i class="ri-file-upload-line pr-3"></i>Upload Files</div></li>
                                        <li><div class="item"><i class="ri-folder-upload-line pr-3"></i>Upload Folders</div></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


<div class="card card-2">
  <h2>{{repo_name}}</h2>
  <span class="filename">{{repo_name}}.zip</span>
<!--  <h2 class="changelog_title">Changelog</h2>-->
<!--  <div class="changelog">-->
<!--    <ul>-->
<!--      <li>Initial Release</li>-->
<!--    </ul>-->
<!--  </div>-->
  <a  class="btn" id="downloadButton">
    Download
  </a>
    <br>
    <progress indeterminate id="progressBar" style="display:none;">.</progress>
    <span id="success" style="display:none;">Downloaded Successfully</span>
</div>

</div>







            </div>
        </div>
      </div>
    </div>
    <!-- Wrapper End-->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="/terms-of-service">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    <span class="mr-1"><script>document.write(new Date().getFullYear())</script>©</span> <a href="#" class="">Code Nest Designed by Joraj J R</a>.
                </div>
            </div>
        </div>
    </footer>
    <!-- Backend Bundle JavaScript -->
    <script src="/static/assets/js/backend-bundle.min.js"></script>

    <!-- Chart Custom JavaScript -->
    <script src="/static/assets/js/customizer.js"></script>

    <!-- Chart Custom JavaScript -->
    <script src="/static/assets/js/chart-custom.js"></script>

    <!--PDF-->
    <script src="/static/vendor/doc-viewer/include/pdf/pdf.js"></script>

    <script src="/static/vendor/doc-viewer/include/docx/jszip-utils.js"></script>
    <script src="/static/vendor/doc-viewer/include/docx/mammoth.browser.min.js"></script>

    <script src="/static/vendor/doc-viewer/include/PPTXjs/js/filereader.js"></script>
    <script src="/static/vendor/doc-viewer/include/PPTXjs/js/d3.min.js"></script>
    <script src="/static/vendor/doc-viewer/include/PPTXjs/js/nv.d3.min.js"></script>
    <script src="/static/vendor/doc-viewer/include/PPTXjs/js/pptxjs.js"></script>
    <script src="/static/vendor/doc-viewer/include/PPTXjs/js/divs2slides.js"></script>
    <!--All Spreadsheet -->
    <script src="/static/assets/vendor/doc-viewer/include/SheetJS/handsontable.full.min.js"></script>
    <script src="/static/assets/vendor/doc-viewer/include/SheetJS/xlsx.full.min.js"></script>
    <!--Image viewer-->
    <script src="/static/assets/vendor/doc-viewer/include/verySimpleImageViewer/js/jquery.verySimpleImageViewer.js"></script>
    <!--officeToHtml-->
    <script src="/static/assets/vendor/doc-viewer/include/officeToHtml/officeToHtml.js"></script>
    <script src="/static/assets/js/doc-viewer.js"></script>
    <!-- app JavaScript -->
    <script src="/static/assets/js/app.js"></script>

    <script type="module"  src="/static/main/js/selectupload.js"></script>
    <script type="module"  src="/static/main/js/file-actions.js"></script>
     <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Title</h4>
                    <div>
                        <a class="btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="resolte-contaniner" style="height: 500px;" class="overflow-auto">
                        File not found
                    </div>
                </div>
            </div>
        </div>
    </div>






<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-storage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

  <script>
    // Initialize Firebase with your configuration
    const firebaseConfig = {
        apiKey: "AIzaSyDfIDzvzac0QBt0UEkHO-kdghfm1FY3KkU",
        authDomain: "codenext-d476c.firebaseapp.com",
        projectId: "codenext-d476c",
        storageBucket: "codenext-d476c.appspot.com",
        messagingSenderId: "4961609776",
        appId: "1:4961609776:web:5bfcf749f094132372e5f5",
        measurementId: "G-K5M1LL0795",
    };

    // Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);

    // Define the downloadFolderAsZip function here
    const downloadFolderAsZip = async () => {
      console.log("Starting folder download...");

      const jszip = new JSZip();
      const storage = firebase.storage(app);
      const folderName = '/{{username}}/{{repo_name}}'; //Your folder name
        console.log(folderName);

      try {
        const folderRef = storage.ref(folderName);
        console.log("Folder reference created:", folderRef);

        const downloadFiles = async (folderRef, path) => {
          const folder = await storage.ref(folderRef.fullPath).listAll();
          console.log("Folder:", path);
          console.log("Files in the folder:", folder.items);

          const promises = folder.items.map(async (item) => {
            console.log("Downloading file:", item.name);
            const file = await item.getMetadata();
            const fileRef = storage.ref(item.fullPath);
            const fileBlob = await fileRef.getDownloadURL().then((url) => {
              return fetch(url).then((response) => {
                if (!response.ok) {
                  console.error("Failed to fetch file:", item.name);
                  throw new Error('Failed to fetch file');
                }
                return response.blob();
              });
            });
            jszip.folder(path).file(item.name, fileBlob);
          });

          await Promise.all(promises);

          for (const subfolder of folder.prefixes) {
            await downloadFiles(subfolder, `${path}${subfolder.name}/`);
          }
        };

        await downloadFiles(folderRef, '');

        console.log("Number of files added to the ZIP:", jszip.files.length);

        if (jszip.files.length === 0) {
          console.log("ZIP is empty.");
          return;
        }

        const blob = await jszip.generateAsync({ type: 'blob' });
        saveAs(blob, '{{repo_name}}.zip');
        console.log("Download completed.");
          document.getElementById('progressBar').setAttribute("style","display:none;")
          document.getElementById('downloadButton').setAttribute("style","display:none;")
          document.getElementById('success').setAttribute("style","display:visible;")
      } catch (error) {
        console.error('Error:', error);
        alert('An error occurred while downloading the folder.');
          document.getElementById('progressBar').setAttribute("style","display:none;")
          document.getElementById('success').innerHTML = "Download Failed! Please Retry."
          document.getElementById('success').setAttribute("style","display:visible;")
      }
    };

    // Add an event listener to the "Download Folder" button
    const downloadButton = document.getElementById('downloadButton');
    downloadButton.addEventListener('click', () => {
          document.getElementById('downloadButton').setAttribute("style","display:none;")
        document.getElementById('progressBar').setAttribute("style","display:visible;")
      downloadFolderAsZip();
    });
  </script>


  </body>
</html>